name: Deploy to Hugging Face Space

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Hugging Face Space repo
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          # Push current main branch to HF Space repo
          git push https://MOHDMUBASHIR:${HF_TOKEN}@huggingface.co/spaces/MOHDMUBASHIR/cs1-object-detection.git main --force
